.body {
  margin-top: 10px;
  border-radius: 16px;
  background: #232b57;
  padding: 41px;
  padding-bottom: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.time {
  margin-right: 20px;
  span,
  time {
    font-weight: 500;
  }
}

.text {
  line-height: 1.5;
  br {
    display: block;
    margin-top: 20px;
  }
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > p {
    span:first-child {
      margin-right: 10px;
    }
  }
  > div {
    display: flex;

    button:first-child {
      margin-right: 28px;
    }
  }
}
.forecast {
}
.user-forecast {
  padding: 0;
  background-color: transparent;

  .header {
    > div:last-child {
      display: none;
    }
  }
}

.themeLight {
  background-color: #fff;
  border: solid 1px #d0d2d7;

  svg path {
    stroke: #232b57;
  }
}
