.main,
.content {
  height: 100%;
}

.main {
  padding: 30px 0px 30px 27px;
  h2 {
    margin-bottom: 10px;
  }
}

.list {
  margin-right: 33px;

  > div {
    padding-bottom: 21px;
    margin-bottom: 21px;
    border-bottom: 1px solid #303d7e;
    border-radius: 0px;
  }
}
