@import "@/assets/scss/variables";

.select {
  align-items: center;
  position: relative;
  background-color: var(--block-dark-light);
  border-radius: 10px;
  overflow: hidden;
  color: var(--text-light-color);
  // transition-delay: 0.3s;
}

.show {
  .title {
    border-color: var(--block-dark);
    svg:last-child {
      transform: rotate(180deg);
    }
  }
}

.title {
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition-duration: 0.3s;
  // border-bottom: 1px solid transparent;
  transition: background-color 0.3s 0s;

  svg:first-child {
    path {
      fill: var(--text-color);
    }
    margin-right: 10px;
  }
  svg:last-child {
    transition: transform 0.3s 0s;
    margin-left: 10px;
  }
  span {
    white-space: nowrap;
  }
}
.body {
  width: 100%;
  background-color: var(--block-dark-light);
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 0px;
  overflow: hidden;
  transition-duration: 0.3s;

  button {
    display: block;
    font-size: 14px;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s 0s;
    padding: 9px 20px;
    @media (min-width: 901px) {
      &:hover {
        background-color: var(--block-hover);
      }
    }
  }
}

.buttonActive {
  background-color: var(--block-hover);
  pointer-events: none;
}

.absolute {
  overflow: visible;
  .body {
    position: absolute;
    z-index: 20;
  }
  transition-delay: 0.3s;
  &.show {
    transition-delay: 0s;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.purple {
  background-color: var(--block-hover);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
  color: var(--text-light-color);

  .title {
    svg:first-child {
      path {
        fill: var(--text-light-color);
      }
    }
  }
  .body {
    background-color: var(--block-hover);
    button {
      @media (min-width: 901px) {
        &:hover {
          background-color: var(--block-dark-light);
        }
      }
    }
  }
  .buttonActive {
    background-color: var(--block-dark-light);
  }
}

.transparent {
  border: 1px solid var(--block-dark-light);
  background-color: transparent;
  color: var(--text-color);
  transition-duration: 0s;
  svg:last-child path {
    stroke: var(--text-color);
  }

  .title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: background-color 0.3s;
  }
  .body {
    border-top: none;
    border-bottom: none;
    width: calc(100% + 2px);
    left: -1px;
    color: var(--text-light-color);
  }
  &.show {
    border-color: transparent;
    .title {
      color: var(--text-light-color);
      background-color: var(--block-dark-light);
    }

    svg:first-child path {
      fill: var(--text-light-color);
    }
    svg:last-child path {
      stroke: var(--text-light-color);
    }
  }
}
