
.match{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 40px;
    padding-left: 16px;
    border-radius: 20px;
    background: #222A56;
    margin-bottom: 10px;
    transition-duration: 0.3s;
    position: relative;
    &:last-child{
        margin-bottom: 0;
    }
    >a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition-duration: 0.3s;
        
    }
    @media(min-width: 901px) {
        &:hover{
            box-shadow: 0px 5px 5px #00000042;
        }
        &:active{
            box-shadow: 0px 0px 2px #00000042;
            transform: translateY(2px);
        }
    }

}
.left, .right {
    display: flex;
    align-items: center;
    >div{
        display: flex;
    }
}
.right{
    flex: 0 1 387px;
    justify-content: space-between;
}
.icon{
    position: relative;
    // margin-right: 20px;
    flex: 0 0 50px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    svg {
        // width: 100%;
        // height: 96%;
        path{
            stroke: #FFD644;
            fill: transparent;
            transition-duration: 0.3s;
        }
    } 
}
.active{
    svg path{
        fill: #FFD644;
    }
}
.date, .team{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p, a, button{
        margin-bottom: 15px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}
.date{
    text-align: center;
    margin-right: 10px;
}
.team{
    p{
        display: flex;
        align-items: center;

        span{
            margin-left: 10px;
        }
    }
}

.bestBet{
    font-weight: 600;
    font-size: 12px;    
}

.bet{
    p, button, a {
        display: block;
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 12px;
        margin-right: 12px;
        font-weight: 600;
        background: #2B2E3E;
        &:last-child{
            margin-right: 0;
        }
    }
}
.winTeam{
    border: 1px solid #5E5CB0;
}
.rate{
    border: 1px solid #D9AE40;
}




@media (max-width: 1000px) {
    .match{
        padding: 14px 20px;
    }
    
    .right{
        flex-basis: 341px;
    }
}

@media (max-width: 900px) {
    .match{
        flex-direction: column;
        align-items: flex-start;
    }   
    .left,.right{
        justify-content: space-between;
        width: 100%;
    }
    .left{
        margin-bottom: 20px;
        flex-direction: row-reverse;
    }
    .desc{
        display: flex;
        flex-direction: row-reverse;
    }
    .date{
        margin-left: 10px;
    }
    .right{
        flex: 0 0 auto;
        flex-wrap: wrap;
    }
    .bestBet, .bet{
        margin-bottom: 5px;
    }
    .icon{
        flex-basis: 25px;
        height: 25px;
    }
}


@media (max-width: 400px) {
    .match{
        .left, .right{
            justify-content: center;
        }
        .left{
            flex-direction: row;
        }
        .desc{
            flex-direction: row;
        }

        .bestBet{
            margin-bottom: 8px;
            width: 100%;
            text-align: center;
        }
        .bet{
            margin-bottom: 0;
            p,a{
                padding: 5px 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                
            }
        }
    }
}

.themeLight{
    background-color: transparent;
    border: 1px solid #E3E3E3;

    .bet{
        p, button, a {
            background: transparent;
            border-color: #5E5CB0;
        }
    }
}