@import '@/assets/scss/variables';

.body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px;

    p{
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        flex: 0 1 auto;
        overflow: hidden;

        &:last-child::after{
            display: none;
        }
        &::after{
            content: '';
            display: block;
            flex: 0 0 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 21px;
        }
        
        a{
            white-space: nowrap;
            transition-duration: 0.3s;
            border-bottom: 1px solid transparent;
            padding-bottom: 2px;

            @media(min-width: 901px) {
                &:hover{
                    border-color: #fff;
                    // color: $iconHoverColor;
                }
            }        
        }

        &:last-child{
            a{
                pointer-events: none;
                border-color:  #fff;
            }
        }

    }
}
@media (max-width: 600px) {
    .body{
        display: block;
        P{
            display: inline-flex;
            line-height: 1.5;
            margin-bottom: 0;
            a{
                white-space:initial;
            }
            &:last-child{
                a{
                    border-bottom: none;
                    color: #68428D;
                }
            }
        }
    }
}