.btn {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--btn-color);

  box-shadow: var(--btn-shadow);
  height: 40px;
  transition-duration: 0.1s;
  position: relative;

  color: var(--btn-text-color);
  span {
    line-height: 0;
  }

  &.p-20 {
    padding: 10px 20px;
  }
  &.live {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #f50100;
      margin-right: 10px;
    }
  }
  svg {
    margin-right: 10px;

    path {
      fill: var(--btn-text-color);
    }
  }

  .plus-icon {
    margin-left: 10px;
  }
  &.active {
    background: var(--btn-hover-color);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    color: var(--btn-text-hover-color);

    svg path {
      fill: var(--btn-text-hover-color);
    }
  }

  @media (min-width: 901px) {
    &:hover {
      background: var(--btn-hover-color);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);

      color: var(--btn-text-hover-color);

      svg path {
        fill: var(--btn-text-hover-color);
      }
    }
  }
}

.btn--pur {
  background-color: var(--btn-second-color);
  color: var(--btn-text-second-color);
  @media (min-width: 901px) {
    &:hover {
      background-color: var(--btn-second-hover-color);
      color: var(--btn-text-second-hover-color);
    }
  }
}

.btn--shadow {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
  @media (min-width: 901px) {
    &:hover {
      box-shadow: none;
    }
  }
}

@media (max-width: 1024px) {
  .btn {
    font-size: 12px;
    svg {
      flex: 0 0 20px;
      height: 20px;
    }
  }
  .btn--pur,
  .btn--shadow {
    font-size: 14px;
  }
}
