.notify-action {
  cursor: pointer;
  display: block;
  height: 18px;
  max-width: 50px;
  border-radius: 4px;
  padding: 0px 4px;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  color: var(--color-dark);
  font-size: 16px;
  background: var(--color-gold);
  transform: translateY(-50%);
  position: absolute;
  top: 5%;
  right: -47%;
  line-height: 1;
}
