@import "../variables.scss";

.show-more {
  padding: 0px 5px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;

  svg {
    margin-left: 6px;
    transition-duration: 0.3s;
    path {
      transition-duration: 0.3s;
    }
  }

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
  @media (min-width: 901px) {
    &:hover {
      color: #3be9f4;
      border-color: #3be9f4;

      svg path {
        stroke: #3be9f4;
      }
    }
  }
}

.show-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 10px;
  padding: 0px 20px;
  border: solid 1px var(--block-dark-light);
  background-color: var(--block-dark-light);
  transition-duration: 0.3s;
  span {
    line-height: 1;
  }

  svg {
    margin-left: 5px;
  }

  @media (min-width: 901px) {
    &:hover {
      background-color: transparent;
    }
  }
}
