

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    h2{
        font-size: 20px;
        font-weight: 600;
    }

    .select{
        flex: 0 0 210px;
    }
}

.body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}