.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #303d7e;
  &:last-child {
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    margin-right: 10px;

    &:first-child {
      font-weight: 600;
      line-height: 0;
    }
  }
}

.person {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  overflow: hidden;

  img {
    margin-right: 8px;
    border-radius: 50%;
  }
  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }
}

.flag {
  img {
    object-fit: contain;
  }
}

.themeLight {
  .item {
    p {
      border-color: #eaeaea;
    }
  }
}
