.item {
  background-color: #222a56;
  border-radius: 20px;
  padding: 20px 10px 15px 10px;
  flex: 0 1 375px;
  margin: 5px;
}

.flex {
  display: flex;
  // align-items: start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.team {
  background-color: #39437a;
  border-radius: 5px;
  flex: 0 1 173px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
  padding: 10px 20px;

  &:first-child {
    margin-right: 10px;
  }
  img {
    margin-bottom: 5px;
  }
  p {
    overflow: hidden;
    max-width: 122px;
  }
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.date {
  border-radius: 5px;
  background: #39437a;
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  padding: 3px 10px;
}

.time {
  display: block;
  display: flex;
  align-items: center;
  color: #ffd644;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 10px;
  }
}

// Theme Light
.themeLight {
  background-color: #fff;
  border: 1px solid #d0d2d7;

  .team,
  .date {
    background-color: #d0d2d7;
  }
  .time {
    color: #9747ff;
    svg path {
      stroke: #9747ff;
    }
  }
}
