.body {
  border-radius: 16px;
  background: var(--user-content);
  min-height: 100%;
  display: flex;
}
.aside {
  background: var(--color-dark);
  flex: 0 1 224px;
}

.content {
  flex: 1 1 auto;
}

@media (max-width: 1100px) {
  .body {
    flex-direction: column;
  }
  .aside {
    flex: 0 1 auto;
    height: auto;
  }
  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}
