
.card{
    cursor: pointer;
    border-radius: 20px;
    background: #222A56;
    padding: 44px 31px;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    margin-right: 20px;
    flex: 0 1 calc(50% - 10px);
    margin-bottom: 20px;
    overflow: hidden;

    &:nth-child(2n){
        margin-right: 0;
    }
    @media(min-width: 901px) {
        &:hover{
            border-color: #9FB0BC;
        
        }
    }

    h3{
        color: #FFD644;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }
}

.item{
    padding-bottom: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    font-weight: 600;
    position: relative;
    max-width: 700px;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0px;
        left: 0;
        background: radial-gradient(50.06% 30938.27% at 49.94% 100%, #2E42A5 0%, rgba(46, 66, 165, 0) 100%);
    }

    p{
        &:first-child{
            flex: 0 1 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 20px;

        }
        &:last-child{
            color: #3BE9F4;
        }
    }
    &:last-child{
        margin-bottom: 0;
        p:last-child{
            color:#66DA64
        }
    }
}
@media (max-width: 1024px) {
    .card{
        flex: 1 1 100%;
        margin-right: 0;
    }    
}

@media (max-width: 600px) {
    .card{
        padding: 25px 18px;
        h3{
            font-size: 16px;
            margin-bottom: 14px;
        }
    }
    .item{
        padding-bottom: 15px;
        p{
            margin-bottom: 14px;
            font-size: 14px;
        }
    }
}