@import "@/assets/scss/variables";

.socials {
  display: flex;
  align-items: center;
  a {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    svg path {
      stroke: var(--svg-light-color);
      transition-duration: 0.3s;
    }
    @media (min-width: 901px) {
      &:hover {
        path {
          stroke: var(--text-hover-color);
        }
      }
    }
  }
}

// .themeLight {
//   a {
//     svg path {
//       stroke: #303d7e;
//     }

//     @media (min-width: 901px) {
//       &:hover {
//         svg path {
//           stroke: #65a3ff;
//         }
//       }
//     }
//   }
// }
