
.tabs{
    margin-bottom: 8px;
    button  {
        margin-right: 12px;
        margin-bottom: 10px;
    }
}

.wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
}

@media (max-width: 800px) {
    
}