@import '@/assets/scss/variables';

.body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition-duration: 0.3s;
    &:last-child{
        margin-bottom: 0;
    }
    img{
        margin-right: 16px;
        align-self: flex-start;
    }
    span{
        margin-top: 1px;
    }
    @media(min-width: 901px) {
        &:hover{
            color: $iconHoverColor;
        }
    }
}

.themeLight{
    .item{
        @media(min-width: 901px) {
            &:hover{
                color: #65A3FF
            }
        }
    }
}