@import '@/assets/scss/variables';

.settings{
    position: absolute;
    top: 60px;
    right: 0px;
    z-index: 22;
    // opacity: 0;
    visibility: hidden;
    // transition-duration: 0.3s;
}
.open{
    // opacity: 1;
    visibility: visible;
    .bg, .wrapper{
        opacity: 1;
    }
}
.bg{
    transition-duration: 0.3s;
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 42, 86, 0.20);
    backdrop-filter: blur(2px);
    left: 0;
    top: 0;
}

.wrapper{
    width: 283px;
    opacity: 0;
    transition-duration: 0.3s;
    background-color: #1C203A;
    padding: 25px 28px;
    position: relative;
    z-index: 4;
    border-radius: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: radial-gradient(50.06% 30938.27% at 49.94% 100%, #2E42A5 0%, rgba(46, 66, 165, 0) 100%);
    }
    button{
        width: 24px;
        height: 24px;
        svg path{
            transition-duration: 0.3s;
        }
        @media(min-width: 901px) {
            &:hover{
                svg path{
                    stroke: $iconHoverColor
                }
            }
        }
    }
}

.item{
    margin-bottom: 30px;
    h3{
        font-size: 20px;
        margin-bottom: 14px;
    }
    >p{
        margin-bottom: 16px;
    }

    label{
        margin-bottom: 9px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}
.back{
    display: none;
}

@media (max-width: 540px) {
    .settings{
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
    .wrapper{
        padding-top: 40px;
        width: 100%;
    }
    .header{
        padding-bottom: 23px;
        margin-bottom: 23px;
        font-size: 20px;

        button{
            display: none;
            &.back{
                display: block;
            }
        }
    }
}