.body {
  border-radius: 8px;
  border: 1px solid #939393;
  padding: 5px 15px;
  padding-right: 12px;
}

.date {
  position: relative;
  input {
    position: relative;
    z-index: 1;
    color: var(--text-color);
    width: 100%;
    &::-webkit-calendar-picker-indicator {
      // color: transparent;
      opacity: 0;
      // background: url("/img/icons/calendar.svg") no-repeat center;
      // background-size: contain;
      cursor: pointer;
    }
  }
  svg {
    cursor: pointer;
    z-index: 0;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    path {
      fill: var(--text-color);
    }
  }
}

.big {
  height: 60px;
  .date {
    height: 100%;
    svg {
      width: 25px;
      height: 25px;
    }
  }
  border-radius: 10px;
  input {
    height: 100%;
    font-size: 20px;
  }

  button {
    flex: 0 0 25px;

    svg {
      width: 100%;
      height: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 500px) {
  .big {
    height: 48px;
    .date {
      svg {
        width: 18px;
        height: 18px;
      }
    }
    input {
      font-size: 14px;
    }
  }
}
